body {
    background-color: #1d2021;
    font-family: Arial, sans-serif;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 25px;
}

.navbar-item {
    border: 2px solid #689d6a;
    float: left;
    margin: 3px;
    color: #ebdbb2;
    background-color: #3c3836;
}

.navbar-link {
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 8px;
    color: inherit;
}

.navbar-logo {
    vertical-align: middle;
    width: 15px;
}

.navbar-link:hover {
    background-color: #504945;
}

.content {
    border: 3px solid #689d6a;
    background-color: #3c3836;
    margin: 25px;
    padding: 10px;
}

.content a {
    text-decoration: none;
    color: inherit;
}

.content-emote {
    vertical-align: middle;
    width: 30px;
    height: auto;
}

.content-button {
    display: inline-block;
    color: #1d2021;
    background-color: #7c6f64;
    border: 3px solid #689d6a;
}

.content-button:hover {
    background-color: #689d6a;
}

.content p{
    margin: 0;
}

.content h1 {
    margin: 5px;
    padding: 10px;
}

.content p {
    color: #ebdbb2;
}

.content h1 {
    color: #fbf1c7;
}

.content-header {
    padding: 5px;
    color: #bdae93;
    border-bottom: 2px solid #1d2021;
}

.content-footer {
    padding: 5px;
    border-top: 2px solid #1d2021;
}

.content-link {
    color: #0000FF;
}

.content-code {
    background-color: #a89984;
}
