@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

body {
  background-color: #1d2021;
  color: #e5e9f0;
  font-family: Inconsolata;
  padding-left: 40px;
  padding-right: 40px;
}

h1, h2, h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}

p {
  white-space: pre-line;
}

td {
  vertical-align: top;
}

#navbar {
  margin-top: 20px;
  margin-bottom: 30px;
}

.page {
  margin-left: 5px;
  margin-right: 5px;
  transition: 0.3s;
}

.page-active {
  text-decoration: underline;
  color: #a3be8c;
}

.layout {
  margin-bottom: 40px;
}

.row-wrapper {
  display: flex;
  align-items: flex-start;
}

#links {
  padding-left: 25px;
  border-spacing: 15px;
}

a {
  text-decoration: none;
  color: inherit;
}

.button-link {
  padding: 4px;
  font-size: medium;
  background-color: #282828;
  border-radius: 5px;
  transition: 0.3s;
}

.text-link {
  transition: 0.3s;
  text-decoration: underline;
}

.button-link:hover,
.text-highlight,
.text-link:hover,
.page:hover {
  color: #a3be8c;
}

#pfp {
  margin-right: 40px;
  width: 256px;
  height: 256px;
  border: 3px solid #a3be8c;
}

#projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 10px;
  margin-top: 25px;
}

.card {
  border: 2px solid #555;
  background-color: #282828;
  transition: 0.3s;
  cursor: pointer;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  height: 125px;
}

.card-open {
  float: right;
  color: #555;
  transition: 0.3s;
}

.card-title i {
  vertical-align: -2px;
}

.card:hover {
  border-color: #a3be8c;
}

.card:hover > .card-open {
  color: #aaa;
}
