body {
    background-color: #282828;
    font-family: Arial, sans-serif;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 25px;
}

.navbar-item {
    border: 2px solid #689d6a;
    float: left;
    margin: 3px;
    color: #1d2021;
    background-color: #928374;
}

.navbar-link {
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 8px;
    color: inherit;
}

.navbar-logo {
    vertical-align: middle;
    width: 15px;
}

.navbar-link:hover {
    background-color: #7c6f64;
}

.content {
    border: 3px solid #689d6a;
    background-color: #928374;
    margin: 25px;
    padding: 10px;
}

.content a {
    text-decoration: none;
    color: inherit;
}

.content-emote {
    vertical-align: middle;
    width: 30px;
    height: auto;
}

.content-button {
    display: inline-block;
    background-color: #7c6f64;
    border: 3px solid #689d6a;
}

.content-button:hover {
    background-color: #689d6a;
}

.content p{
    margin: 0;
}

.content h1 {
    margin: 5px;
    padding: 10px;
}

.content p, h1 {
    color: #1d2021;
}

.content-header {
    padding: 5px;
    border-bottom: 2px solid #1d2021;
}

.content-footer {
    padding: 5px;
    border-top: 2px solid #1d2021;
}

.content-link {
    color: #0000FF;
}

.content-code {
    background-color: #bdae93;
}
