body {
    background: linear-gradient(204deg, #0d4b5a, #377a99, #72c1ee);
    background-size: 600% 600%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Noto Sans Mono', sans-serif;
    animation: WeirdGradient 59s ease infinite;
}

@keyframes WeirdGradient {
    0%{background-position:64% 0%}
    50%{background-position:37% 100%}
    100%{background-position:64% 0%}
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 25px;
}

.navbar-item {
    border: 2px solid darkslategray;
    float: left;
    background-color: lightgray;
}

.navbar-link {
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 8px;
    color: inherit;
}

.navbar-logo {
    vertical-align: middle;
    width: 15px;
}

.navbar-link:hover {
    background-color: darkgray;
}

.content {
    border: 3px solid darkgray;
    background-color: lightgray;
    margin: 25px;
    padding: 10px;
}

.content a {
    text-decoration: none;
    color: inherit;
}

.content-emote {
    vertical-align: middle;
    width: 30px;
    height: auto;
}

.content-button {
    display: inline-block;
    background-color: darkgray;
    border: 3px solid gray;
}

.content-button:hover {
    background-color: gray;
}

.content p{
    margin: 0;
}

.content h1 {
    margin: 5px;
    padding: 10px;
}

.content-header {
    padding: 5px;
    border-bottom: 2px solid darkgray;
}
